* { padding: 0; margin: 0; }
/*
* { border: 1px solid red;}
*/

#topnav{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background:url(img/navigatie.png);
text-transform:uppercase;
font-family: Verdana, arial, sans-serif;
}
#topnav li {
	height: 43px;
	line-height: 43px;
    padding: 0 3px 0 0;
	float: left;
	background: transparent url(img/seperator.png) top right no-repeat;
}
#topnav li.last {
	padding: 0;
	background: none;
}

#topnav a:link, #topnav a:visited{
display: block;
padding: 0 3em;
height: 100%;
color:#555;              /*kleur Letters */
text-align: center;
text-decoration:none;
}

#topnav a:hover, #topnav a:active{
color: #ffffff;
background: url(img/selected_button.png);
background-repeat: repeat-x;
}

ul.breadcrumbs {
    list-style: none;
    margin-top: .3em;
}
.breadcrumbs li {
    padding: 0 0 0 16px;
    float: left;
    background: transparent url(img/arrow.png) left center no-repeat;
}
.breadcrumbs a {
    display: block;
    text-decoration: none;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.breadcrumbs li.current a:hover {
    text-decoration: none;
}

body{
	max-width: 960px;
	min-width: 920px;
	background-color: #FFFFFF;
	font-family:"Arial", "Helvetica", "sans-serif";
	margin: 0 auto 0 auto;
}

h1{
	height: 220px;
	font-size: 3em;
	background-image: url(img/upper_part_site1_small.png);
	background-repeat: repeat-x;
	color: #ffffff;
	padding-right: 0.3em;
	margin-bottom: 0em;
	text-align: right;
	text-shadow: 0.1em 0.1em 4px #000000
}

h2{
	text-align: left;
	padding: 0.8em 1em;
	font-size: 1.8em;
	color: #ffffff;
	margin-top: 0em;
}

h3{
	width: 100%;
	position: relative;
	font-size: 2em;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0em;
}

h4{
	text-transform: uppercase;
	text-align: left;
	padding-top: 4.2em;
	padding-bottom: 0em;
	padding-left: 2.1em;
	font-size: 1.2em;
	color: #656565;
	margin-bottom: 0em;
}

ul.posts, ul#topnav, ul.posts ul{
	list-style-type: none;
} 

ul.posts li{
	padding: 0.3em 1em 1em 1em;
	background-color: #454545;
	color: #ffffff;
	position: relative;
	margin-left:2em;
}

ul.posts li h5{
	font-size: 1em;
	position: relative;
	margin:0em 0em;
	margin-left: 1em;
	color:#6cb5ff;
}

ul.posts li.inspringR{
	background-color: #6cb5ff;
	background-image: url(img/achtergrondReactie2.jpg);
	background-repeat: repeat;
	position: relative;
	margin-left: 0em;
	margin-right: 2em;
}

ul.posts li.inspringR a{
	color: #454545;
}

ul.posts li.inspringR h5{
	color: #454545
}

ul.reacties{
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
	float: right;
}

ul.reacties li{
	padding: 0em 0em 0em 0em;
	margin: 0em 1em 0em 1em;
	color: #ffddee;
	background-color: transparent;
	float: left;
}

ul.thumbs{
	float: right;
	padding: 0em 0em;
	margin: 0em 0em;
}
ul.thumbs li{
	background-color: transparent;
	margin: 0em 0em;
	padding: 0em 0em;
	height: 29px;
	float: left;
}

p{
	padding: 0.3em 1em;
}

p.intro{
	background-color: #545454;
	color: #ffffff;
	margin-top: 0em;
    
    padding: 0.3em 1em;
}

a:link{
	color: #6cb5ff;
}

a:visited{
	color: #aaaaaa;
}

p.intro a:link{
	color: #6cb5ff;
}
p.intro a:visited{
	color: #dddddd;
}

p.txtField {
	padding: 2em 1em;
	width: 100%;
	position: relative;
	text-align: center;
	border: 1px solid black;
	background-color: #ffffff;
}

p.inspringenL{
	background-color: #363636;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-left: 2em;
}

p.inspringenR{
	background-color: #6cb5ff;
	background-image: url(img/achtergrondReactie2.jpg);
	background-repeat: repeat;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-right: 2em;
}

p.grijs{
	background-color: #80bdfc;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
}
p.grijs a{
	color: #ffffff;
}

p.postBlauw{
	background-color: #6cb5ff;
	background-image: url(img/achtergrondReactie2.jpg);
	background-repeat: repeat;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
}
p.postBlauw a{
	color: #ffffff;
}

img.opleidingPlaatje{
	width: 240px;
	height: auto;
	margin: 1em;
	background-color: #6cb5ff;
	padding: 1em;
	border: 1em solid rgba(187, 187, 187, 0.5);
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

div.rand{
	margin: 0em 3em;
	background-color: #ffffff;
}

div.logo{
	height: 220px;
	background-image: url(img/upper_part_site1.png);
	background-repeat: no-repeat;
}

div.opleidingPlaatje{
	float: right;
}

h2.title_grd{
	padding: 0.3em 1em;
	background: #333333;
	
	/* voor firefox */
	background: -moz-linear-gradient(top, #333333 , #050505);
	
	/* voor opera en dergelijke */
	background: -o-linear-gradient(top, #333333 , #050505);
	
	/* voor chrome */
	background: -webkit-gradient(linear, left top, left bottom, from(#545454) , to(#151515));
	
	color: #ffffff;
}