<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS.css">
<title>Keuze pagina</title>
</head>

<body><div class="rand">
<h1><div class="logo">Straks de header</div></h1>
<!-- titel van de pagina, studie naam uit xml bestand -->
<div class="title_grd"><h2>Keuze</h2></div>

<h3>kies een instelling!!!!</h3>
<p class="intro"><div class="intro_grd">
http://websec.science.uva.nl/~jvdm/hodex.php


<?php function writeName($fname){ echo $fname . "<br />";} echo "hoi"; writeName("THomas"); ?>


</div></p>

</div></body>

