* { padding: 0; margin: 0; }

body{
	max-width: 1024px;
	min-width: 920px;
	background-color: #FFFFFF;
	
	/*
	border-left: 7em solid #aaaaaa;
	border-right: 7em solid #aaaaaa;
	*/
	margin: 0 auto 0 auto;
	/*background-repeat: no-repeat;*/
}

h1{
	/*
	padding: 2em 0em;
	*/
	height: 280px;
	font-size: 3em;
	background-image: url(upper_part_site1_small.png);
	background-repeat: repeat-x;
	color: #ffffff;
	padding-right: 0.3em;
	margin-bottom: 0em;
	text-align: right;
	text-shadow: 0.1em 0.1em 4px #000000
}

h2{
	text-align: left;
	padding: 0.8em 1em;
	font-size: 1.8em;
	background-color: #333333;
	color: #ffffff;
	margin-top: 0em;
}

h3{
	width: 100%;
	position: relative;
	font-size: 2em;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0em;
}

h4{
	text-transform: uppercase;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 0em;
	padding-left: 2.1em;
	font-size: 1.2em;
	color: #656565;
	margin-bottom: 0em;
}

h5{
	font-size: 1em;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-left: 1em;
}

ul{
	
	list-style-type: none;
} 

li {
	word-wrap: normal;
	padding: 0.3em 1em;
}
ul li.inspringL{
	background-color: #363636;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-left: 2em;
}

ul li.inspringR{
	background-color: #6cb5ff;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-right: 2em;
}

p{
	word-wrap: normal;
	/*padding-left: 1em;
	padding-right: 1em;*/
	padding: 0.3em 1em;
}

p.intro{
	padding-right: 35em;
	background-color: #454545;
	color: #ffffff;
	margin-top: 0em;
}
p.intro a{
	color: #eeeeee;
}

p.txtField {
	padding: 2em 1em;
	width: 100%;
	position: relative;
	/*left: 23em;*/
	text-align: center;
	border: 1px solid black;
	background-color: #ffffff;
}

p.post1{
	background-color: #363636;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-left: 2em;
}

p.post2{
	background-color: #6cb5ff;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-right: 2em;
}

div.rand{
	margin: 0em 5em;
	background-color: #ffffff;
}

div.logo{
	height: 280px;
	background-image: url(upper_part_site1.png);
	background-repeat: no-repeat;
}