* { padding: 0; margin: 0; }

body{
	max-width: 1424px;
	min-width: 720px;
	background-color: #FFFFFF;
	
	/*
	border-left: 7em solid #aaaaaa;
	border-right: 7em solid #aaaaaa;
	*/
	margin: 0 auto 0 auto;
	/*background-repeat: no-repeat;*/
}

h1{
	/*
	padding: 2em 0em;
	*/
	height: 321px;
	padding-right: 0.3em;
	font-size: 3em;
	background-image: url(upper_part_site1.png);
	/*
	background-image: url(http://www.free-press-release.com/uploads/news/2011/06/29/1309354102_img2.jpg);
	*/
	background-repeat: no-repeat;
	background-color: #eeeeee;
	color: #ffffff;
	margin-bottom: 0em;
	text-align: right;
	text-shadow: 0.1em 0.1em 4px #000000
}

h2{
	text-align: left;
	padding: 0.8em 1em;
	font-size: 1.8em;
	background-color: #333333;
	color: #ffffff;
	margin-top: 0em;
}

h3{

	left: 25%;
	width: 50%;
	position: relative;
	font-size: 2em;
	text-align: center;
	margin-bottom: 0em;
}

h4{
	text-transform: uppercase;
	text-align: left;
	padding-left: 2.3em;
	font-size: 1.2em;
	color: #656565;
	margin-bottom: 0em;
}

p{
	word-wrap: normal;
	/*padding-left: 1em;
	padding-right: 1em;*/
	padding: 0.3em 1em;
}

p.intro{
	padding-right: 35em;
	background-color: #454545;
	color: #ffffff;
	margin-top: 0em;
}
p.intro a{
	color: #eeeeee;
}

p.txtField {
	left: 25%;
	width: 50%;
	position: relative;
	/*left: 23em;*/
	text-align: center;
	border: 1px solid black;
	background-color: #ffffff;
}

p.post1{
	background-color: #363636;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-left: 2em;
}

p.post2{
	background-color: #6cb5ff;
	color: #ffffff;
	position: relative;
	margin:0em 0em;
	margin-right: 2em;
}

div.rand{
	margin: 0em 5em;
	background-color: #ffffff;
}