
title{

	}
body {
 
	width: 970px;
	height: 747px;
    background-color: #000000;
	background-image:url('img/homebackground1.png');
	background-repeat: no-repeat;
	background-position:center;
	margin: 0 auto;	
}

 

h2{
font-family:"Arial", "Helvetica", "sans-serif";
width: 970px;
float: right;
color: white;
text-align: right;
top: 50px;
margin: 0em 0em;
margin-right: 1em;

}


a:hover span{
	float:left;
	width: 235px;
	height: 187px;
	Background-image: url(img/thehover.png);
}



ul{
	list-style-type: none;
}

li {
	padding: 0em 2em;
	padding-top: 580px;
	float: left;
}





